<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mithun Foundation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0c646cf0e9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Pacifico&display=swap" rel="stylesheet">



  </head>
  <body>




 <nav class="navbar  navbar-expand-lg navbar-light py-1" >
  <a class="navbar-brand px-4 text-white" href="/">Mithun Foundation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">

      <li class="nav-item px-4 py-2 ">
        <a class="nav-link text-white" href="#objectives">Our Objectives</a>
      </li>


      <li class="nav-item px-4 py-2">
        <a class="nav-link text-white" href="#about">About us</a>
      </li>

      <form class="form-inline px-4 py-2" action="/payments">
    <button class="btn btn-outline-danger btn-lg" type="submit">Donate</button>

  </form>
    </ul>

  </div>
</nav>
