<%- include("partials/header") -%>

<!-- Background image -->
<div
  class="bg-image container-fluid  centered-div"
  style="
    background-image: url('/images/donate.jpg');
    background-position:50% 60% ;


    height: 100vh;
    width:100%;
  "
>


<div  id= "objectives"class="centered text-div">See a Smile Daily</div>

</div>
<!-- Background image -->

<div class="container-fluid about-sm about-lg "  >
 <div class="row">

   <div class="col-lg-6 col-sm-6 custom-objectives ">
<p>Our Objectives:</p>
<p>Mithun Foundation, an NGO for poor child education, is an NGO in India directly benefitting over 15,00,000 children and their families every year, through more than 400 live welfare projects on education, healthcare, livelihood and women empowerment, in over 2000 remote villages
</p>
<p>Education is both the means as well as the end to a better life: the means because it empowers an individual to earn his/her livelihood and the end because it increases one's awareness on a range of issues – from healthcare to appropriate social behaviour to understanding one's rights – and in the process help him/her evolve as a better citizen.</p>



   </div>

   <div class="col-lg-6  col-sm-6 ">
     <div class="card w-75 centered-card centered-card-media" style="width: 18rem; ">
       <div class="card-header text-dark">
    Featured
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title">Special Alerts</h5>
    <p class="card-text">Urgent Need: 2 oxygen Cylinders Needed for children</p>
    <a href="#" class="btn btn-primary">Contact us </a>
  </div>
 </div>

   </div>

 </div>


</div>
<!-- <div class="container my-2" style = "background-color:grey;">
<h1> Fill the Contact us Form</h1>
  <form>
  <div class="form-group text-white">
    <label for="exampleInputEmail1">Email address:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group text-white">
    <label for="exampleInputPassword1">Contact No:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact" name="contact">
  </div>
  <div class="form-group text-white">
    <label for="exampleInputPassword1">Name:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" name="name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->











<%- include("partials/footer") -%>
